<%- include('./header.ejs') %>
<div class="row g-0">
  <div class="col-6 card shadow mt-4 card-section">
    <div class="col-12 card-header border-0 text-center">
      <h5>Forgot Password</h5>
      <% if (err_msg!=undefined) { %>
        <span class="flash_msg text-danger">
         <%= err_msg %> 
        </span>
       <% } %>
       <% if (success_msg!=undefined) { %>
        <span class="flash_msg text-success">
         <%= success_msg %> 
        </span>
       <% } %>
    </div>
    <div class="card-body">
      <div class="row">
        <form action="/submit-forgot-password" method="post">
          <div class="col-12 mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email">
          </div>
          <div class="col-12 text-center mb-3">
            <button class="col-8 btn border-0 submit-button" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<%- include('./footer.ejs') %>
